In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.rcParams["figure.figsize"] = (15,5)
plt.rcParams['axes.grid'] = False
import seaborn as sns
sns.set_style("whitegrid", {'axes.grid' : False})

In [4]:
import os
import pandas as pd
from datetime import datetime

### Set Directory and Collect File Names

In [5]:
daily_dir = "TermStructure output/daily"

In [6]:
daily_file_names = os.listdir(daily_dir)

In [7]:
daily_risk_neutral_file_names = [file for file in daily_file_names if "Risk_Neutral" in file]
daily_term_premium_file_names = [file for file in daily_file_names if "Term_Premium" in file]
daily_fitted_yield_file_names = [file for file in daily_file_names if "Fitted_yield" in file]

print(len(daily_risk_neutral_file_names), len(daily_term_premium_file_names), len(daily_fitted_yield_file_names))

25 25 25

### Daily: Risk Neutral

In [8]:
daily_risk_neutral = pd.DataFrame()
for file in daily_risk_neutral_file_names:
    df = pd.read_excel(f'TermStructure output/daily/{file}', sheet_name='Risk Neutral Yield')
    df["country"] = file.split("_")[0]
    df.insert(0, 'country', df.pop('country'))
    daily_risk_neutral = pd.concat([daily_risk_neutral, df], axis=0).reset_index(drop=True)
daily_risk_neutral.loc[daily_risk_neutral["country"]=="Newzealand", "country"] = "New Zealand"
daily_risk_neutral.loc[daily_risk_neutral["country"]=="UK", "country"] = "United Kingdom"
daily_risk_neutral = daily_risk_neutral[daily_risk_neutral.country != "Taiwan"]

In [9]:
daily_risk_neutral

,country,date,1years,2years,3years,4years,5years,6years,7years,8years,9years,10years
0,Poland,1998-01-06,20.05640,18.17810,16.81020,15.73860,14.84930,14.08540,13.41550,12.82020,12.28640,11.80460
1,Poland,1998-01-07,19.38860,17.41550,16.06240,15.02660,14.17700,13.45240,12.81980,12.25930,11.75770,11.30580
2,Poland,1998-01-09,18.71610,17.05680,15.83390,14.87130,14.06740,13.37280,12.76080,12.21470,11.72350,11.27910
3,Poland,1998-01-10,15.93530,14.54270,13.52640,12.72990,12.07040,11.50540,11.01090,10.57190,10.17850,9.82353
4,Poland,1998-01-12,13.33400,12.19690,11.41600,10.81500,10.31800,9.89065,9.51475,9.17946,8.87768,8.60437
...,...,...,...,...,...,...,...,...,...,...,...,...
162218,Indonesia,2023-09-02,4.99579,5.23563,5.42874,5.58597,5.71288,5.81534,5.89855,5.96669,6.02302,6.07004
162219,Indonesia,2023-10-01,5.05751,5.32023,5.51614,5.66812,5.78755,5.88252,5.95892,6.02111,6.07232,6.11496
162220,Indonesia,2023-10-02,4.99918,5.24009,5.43329,5.59023,5.71674,5.81881,5.90166,5.96949,6.02556,6.07235
162221,Indonesia,2023-11-01,5.08733,5.33677,5.52670,5.67559,5.79325,5.88710,5.96276,6.02442,6.07523,6.11756
162222,Indonesia,2023-12-01,4.81411,5.11021,5.34046,5.51940,5.65981,5.77131,5.86093,5.93384,5.99386,6.04383

### Daily: Term Premium

In [10]:
daily_term_premium = pd.DataFrame()
for file in daily_term_premium_file_names:
    df = pd.read_excel(f'TermStructure output/daily/{file}', sheet_name='Term Premium')
    df["country"] = file.split("_")[0]
    df.insert(0, 'country', df.pop('country'))
    daily_term_premium = pd.concat([daily_term_premium, df], axis=0).reset_index(drop=True)
daily_term_premium.loc[daily_term_premium["country"]=="Newzealand", "country"] = "New Zealand"
daily_term_premium.loc[daily_term_premium["country"]=="UK", "country"] = "United Kingdom"
daily_term_premium = daily_term_premium[daily_term_premium.country != "Taiwan"]

In [11]:
daily_term_premium

,country,date,1years,2years,3years,4years,5years,6years,7years,8years,9years,10years
0,Czech Republic,2000-12-15,0.444380,1.25910,2.04040,2.69550,3.2308,3.6670,4.0180,4.2936,4.5049,4.6649
1,Czech Republic,2000-12-18,0.442610,1.25710,2.03770,2.69170,3.2259,3.6614,4.0120,4.2874,4.4988,4.6590
2,Czech Republic,2000-12-19,0.430130,1.23620,2.00840,2.65390,3.1807,3.6107,3.9574,4.2302,4.4399,4.5995
3,Czech Republic,2000-12-20,0.415960,1.20320,1.95730,2.58740,3.1021,3.5227,3.8625,4.1304,4.3371,4.4952
4,Czech Republic,2000-12-21,0.429790,1.21830,1.96780,2.59350,3.1057,3.5260,3.8670,4.1374,4.3472,4.5091
...,...,...,...,...,...,...,...,...,...,...,...,...
162218,Colombia,2023-09-02,-0.007561,0.32523,0.67015,0.97120,1.2606,1.5477,1.8211,2.0752,2.3104,2.5258
162219,Colombia,2023-10-01,-0.267460,0.14232,0.58774,0.94838,1.2952,1.6487,1.9862,2.2981,2.5866,2.8509
162220,Colombia,2023-10-02,-0.070487,0.31477,0.72259,1.07070,1.3987,1.7189,2.0172,2.2871,2.5306,2.7482
162221,Colombia,2023-11-01,-0.143190,0.22837,0.63442,0.98147,1.3162,1.6521,1.9718,2.2675,2.5399,2.7884
162222,Colombia,2023-12-01,0.009428,0.30762,0.62540,0.91536,1.2014,1.4897,1.7698,2.0357,2.2861,2.5193

### Daily: Fitted Yield Curve

In [12]:
daily_fitted_yield = pd.DataFrame()
for file in daily_fitted_yield_file_names:
    df = pd.read_excel(f'TermStructure output/daily/{file}', sheet_name='ACM Fitted Yields')
    df["country"] = file.split("_")[0]
    df.insert(0, 'country', df.pop('country'))
    daily_fitted_yield = pd.concat([daily_fitted_yield, df], axis=0).reset_index(drop=True)
daily_fitted_yield.loc[daily_fitted_yield["country"]=="Newzealand", "country"] = "New Zealand"
daily_fitted_yield.loc[daily_fitted_yield["country"]=="UK", "country"] = "United Kingdom"
daily_fitted_yield = daily_fitted_yield[daily_fitted_yield.country != "Taiwan"]

In [13]:
daily_fitted_yield

,country,date,1years,2years,3years,4years,5years,6years,7years,8years,9years,10years
0,Mexico,2003-01-09,5.91832,6.48913,7.02439,7.50823,7.92394,8.26705,8.54213,8.75866,8.92801,9.06136
1,Mexico,2003-01-10,5.59496,6.04224,6.53925,7.02750,7.46522,7.83346,8.12910,8.35835,8.53201,8.66213
2,Mexico,2003-01-12,6.58384,6.97679,7.43376,7.87356,8.25416,8.56062,8.79404,8.96394,9.08329,9.16532
3,Mexico,2003-02-09,5.95410,6.48616,6.99547,7.46219,7.86696,8.20338,8.47457,8.68896,8.85720,8.98994
4,Mexico,2003-02-10,5.71311,6.16080,6.66971,7.17535,7.63145,8.01639,8.32580,8.56557,8.74674,8.88186
...,...,...,...,...,...,...,...,...,...,...,...,...
162218,Switzerland,2023-09-02,1.12120,1.19980,1.16130,1.14250,1.15630,1.17780,1.19180,1.20170,1.21840,1.25000
162219,Switzerland,2023-10-01,0.83568,1.11260,1.15530,1.19590,1.25920,1.30500,1.31090,1.28720,1.25830,1.24440
162220,Switzerland,2023-10-02,1.16410,1.26260,1.23440,1.21690,1.22670,1.24230,1.25090,1.25620,1.26910,1.29760
162221,Switzerland,2023-11-01,0.80905,1.05810,1.08980,1.12570,1.18450,1.22520,1.22660,1.20000,1.17030,1.15720
162222,Switzerland,2023-12-01,0.99121,1.08770,1.04860,1.02590,1.03740,1.05760,1.07020,1.07820,1.09310,1.12350

## Policy Announcements

In [14]:
countries_with_data = list(daily_fitted_yield["country"].unique())

In [15]:
codes_df = pd.read_excel(f'PolicyAnnouncements.xlsx', sheet_name='Central banks')
countries_with_announcements = list(codes_df["Country name"].unique())

In [16]:
list(set(countries_with_data) - set(countries_with_data).intersection(set(countries_with_announcements)))

['Germany', 'France', 'Italy']

### Dict for Country Code: Country Name

In [17]:
codes = {}
for i in range(len(codes_df)):
    if codes_df.loc[i, "Country name"] in countries_with_data:
        codes[codes_df.loc[i, "Country name"]] = codes_df.loc[i, "Country code"]
codes["Italy"] = "EA"
codes["Germany"] = "EA"
codes["France"] = "EA"

### Announcements

In [18]:
announcements_df = pd.read_excel(f'PolicyAnnouncements.xlsx', sheet_name='Announcements')[["Date", "Country", "Policy ", "Announcement"]]
announcements_df = announcements_df[announcements_df["Country"].isin(list(codes.values()))].reset_index(drop=True)
announcements_df["Country"] = announcements_df["Country"].replace({value: key for key, value in codes.items()})
announcements_df.rename(columns={"Country": "country", "Date": "date"}, inplace=True)

In [19]:
announcements_df

,date,country,Policy,Announcement
0,2020-03-03,Australia,Interest rate,RBA lowered its benchmark cash rate by 25 basi...
1,2020-03-16,Australia,Lending operations,The RBA announced it will be conducting one-mo...
2,2020-03-19,Australia,Foreign exchange,Federal Reserve announced the establishment of...
3,2020-03-19,Australia,Interest rate,A reduction in the cash rate target to 0.25 pe...
4,2020-03-19,Australia,Reserve policy,Exchange settlement balances at the Reserve Ba...
...,...,...,...,...
855,2021-03-25,South Africa,Interest rate,The MPC decided to keep rates unchanged at 3.5...
856,2021-05-20,South Africa,Interest rate,The MPC decided to keep rates unchanged at 3.5...
857,2021-07-21,South Africa,Interest rate,The MPC decided to keep rates unchanged at 3.5...
858,2021-09-23,South Africa,Interest rate,the MPC decided to keep rates unchanged at 3.5...
859,2021-11-18,South Africa,Interest rate,The MPC decided to increase the repurchase rat...

In [25]:
for df_name in ["daily_fitted_yield", "daily_risk_neutral", "daily_term_premium"]:
    df = globals()[df_name]
    df = pd.merge(df, announcements_df, left_on=['date', 'country'], right_on=['date', 'country'], how='outer')
    df = df.sort_values(by=['country', 'date']).reset_index(drop=True)
    df.to_csv(f"{df_name}.csv", index=False)