In [32]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [33]:
import warnings
warnings.filterwarnings("ignore")

In [34]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.rcParams["figure.figsize"] = (15,5)
plt.rcParams['axes.grid'] = False
import seaborn as sns
sns.set_style("whitegrid", {'axes.grid' : False})

In [35]:
import os
import pandas as pd
from datetime import datetime

### Set Directory and Collect File Names

In [36]:
month_dir = "TermStructure output/monthly"
daily_dir = "TermStructure output/daily"

In [37]:
monthly_file_names = os.listdir(month_dir)
daily_file_names = os.listdir(daily_dir)

In [38]:
monthly_risk_neutral_file_names = [file for file in monthly_file_names if "Risk_Neutral" in file]
monthly_term_premium_file_names = [file for file in monthly_file_names if "Term_Premium" in file]
monthly_fitted_yield_file_names = [file for file in monthly_file_names if "Fitted_yield" in file]

print(len(monthly_risk_neutral_file_names), len(monthly_term_premium_file_names), len(monthly_fitted_yield_file_names))

25 25 25

In [39]:
daily_risk_neutral_file_names = [file for file in daily_file_names if "Risk_Neutral" in file]
daily_term_premium_file_names = [file for file in daily_file_names if "Term_Premium" in file]
daily_fitted_yield_file_names = [file for file in daily_file_names if "Fitted_yield" in file]

print(len(daily_risk_neutral_file_names), len(daily_term_premium_file_names), len(daily_fitted_yield_file_names))

25 25 25

### Daily: Risk Neutral

In [40]:
daily_risk_neutral = pd.DataFrame()
for file in daily_risk_neutral_file_names:
    df = pd.read_excel(f'TermStructure output/daily/{file}', sheet_name='Risk Neutral Yield')
    df["country"] = file.split("_")[0]
    df.insert(0, 'country', df.pop('country'))
    daily_risk_neutral = pd.concat([daily_risk_neutral, df], axis=0).reset_index(drop=True)
daily_risk_neutral.loc[daily_risk_neutral["country"]=="Newzealand", "country"] = "New Zealand"
daily_risk_neutral.loc[daily_risk_neutral["country"]=="UK", "country"] = "United Kingdom"
daily_risk_neutral = daily_risk_neutral[daily_risk_neutral.country != "Taiwan"]

In [41]:
daily_risk_neutral

,country,date,1years,2years,3years,4years,5years,6years,7years,8years,9years,10years
0,Poland,729761,20.056442,18.178111,16.810185,15.738641,14.849262,14.085380,13.415516,12.820219,12.286403,11.804647
1,Poland,729762,19.388619,17.415509,16.062418,15.026586,14.176985,13.452378,12.819792,12.259304,11.757742,11.305761
2,Poland,729764,18.716118,17.056758,15.833892,14.871287,14.067374,13.372821,12.760752,12.214684,11.723501,11.279141
3,Poland,729765,15.935325,14.542721,13.526441,12.729914,12.070396,11.505415,11.010907,10.571942,10.178526,9.823530
4,Poland,729767,13.334001,12.196900,11.416015,10.814956,10.317990,9.890646,9.514747,9.179460,8.877680,8.604371
...,...,...,...,...,...,...,...,...,...,...,...,...
162218,Indonesia,739131,4.995795,5.235635,5.428736,5.585972,5.712875,5.815340,5.898550,5.966689,6.023017,6.070039
162219,Indonesia,739160,5.057514,5.320228,5.516140,5.668119,5.787554,5.882517,5.958917,6.021109,6.072321,6.114961
162220,Indonesia,739161,4.999181,5.240089,5.433285,5.590227,5.716735,5.818807,5.901663,5.969495,6.025558,6.072354
162221,Indonesia,739191,5.087327,5.336772,5.526701,5.675590,5.793253,5.887105,5.962757,6.024416,6.075230,6.117561
162222,Indonesia,739221,4.814112,5.110209,5.340456,5.519401,5.659812,5.771305,5.860927,5.933842,5.993863,6.043826

### Daily: Term Premium

In [42]:
daily_term_premium = pd.DataFrame()
for file in daily_term_premium_file_names:
    df = pd.read_excel(f'TermStructure output/daily/{file}', sheet_name='Term Premium')
    df["country"] = file.split("_")[0]
    df.insert(0, 'country', df.pop('country'))
    daily_term_premium = pd.concat([daily_term_premium, df], axis=0).reset_index(drop=True)
daily_term_premium.loc[daily_term_premium["country"]=="Newzealand", "country"] = "New Zealand"
daily_term_premium.loc[daily_term_premium["country"]=="UK", "country"] = "United Kingdom"
daily_term_premium = daily_term_premium[daily_term_premium.country != "Taiwan"]

In [43]:
daily_term_premium

,country,date,1years,2years,3years,4years,5years,6years,7years,8years,9years,10years
0,Czech Republic,730835,0.444376,1.259070,2.040396,2.695531,3.230780,3.667028,4.018042,4.293606,4.504861,4.664906
1,Czech Republic,730838,0.442606,1.257074,2.037712,2.691702,3.225866,3.661377,4.012007,4.287445,4.498761,4.659014
2,Czech Republic,730839,0.430133,1.236183,2.008351,2.653851,3.180743,3.610728,3.957423,4.230201,4.439922,4.599525
3,Czech Republic,730840,0.415956,1.203200,1.957313,2.587398,3.102056,3.522704,3.862489,4.130420,4.337095,4.495205
4,Czech Republic,730841,0.429787,1.218292,1.967836,2.593466,3.105720,3.526029,3.867046,4.137359,4.347247,4.509094
...,...,...,...,...,...,...,...,...,...,...,...,...
162218,Colombia,739131,-0.007561,0.325230,0.670151,0.971201,1.260551,1.547664,1.821090,2.075217,2.310357,2.525801
162219,Colombia,739160,-0.267457,0.142321,0.587737,0.948385,1.295215,1.648704,1.986202,2.298131,2.586624,2.850856
162220,Colombia,739161,-0.070487,0.314772,0.722590,1.070715,1.398677,1.718924,2.017154,2.287092,2.530578,2.748237
162221,Colombia,739191,-0.143193,0.228368,0.634417,0.981468,1.316193,1.652073,1.971847,2.267512,2.539949,2.788376
162222,Colombia,739221,0.009428,0.307617,0.625401,0.915357,1.201397,1.489690,1.769759,2.035656,2.286142,2.519289

### Daily: Fitted Yield Curve

In [44]:
daily_fitted_yield = pd.DataFrame()
for file in daily_fitted_yield_file_names:
    df = pd.read_excel(f'TermStructure output/daily/{file}', sheet_name='ACM Fitted Yields')
    df["country"] = file.split("_")[0]
    df.insert(0, 'country', df.pop('country'))
    daily_fitted_yield = pd.concat([daily_fitted_yield, df], axis=0).reset_index(drop=True)
daily_fitted_yield.loc[daily_fitted_yield["country"]=="Newzealand", "country"] = "New Zealand"
daily_fitted_yield.loc[daily_fitted_yield["country"]=="UK", "country"] = "United Kingdom"
daily_fitted_yield = daily_fitted_yield[daily_fitted_yield.country != "Taiwan"]

In [45]:
daily_fitted_yield

,country,date,1years,2years,3years,4years,5years,6years,7years,8years,9years,10years
0,Mexico,731590,5.918317,6.489128,7.024389,7.508234,7.923936,8.267047,8.542127,8.758658,8.928012,9.061357
1,Mexico,731591,5.594957,6.042237,6.539248,7.027498,7.465224,7.833463,8.129102,8.358355,8.532008,8.662126
2,Mexico,731593,6.583836,6.976792,7.433757,7.873564,8.254162,8.560619,8.794040,8.963941,9.083291,9.165317
3,Mexico,731621,5.954095,6.486159,6.995471,7.462194,7.866957,8.203375,8.474566,8.688964,8.857199,8.989938
4,Mexico,731622,5.713105,6.160800,6.669712,7.175353,7.631452,8.016389,8.325798,8.565575,8.746737,8.881862
...,...,...,...,...,...,...,...,...,...,...,...,...
162218,Switzerland,739131,1.121188,1.199846,1.161315,1.142500,1.156341,1.177751,1.191800,1.201735,1.218423,1.249967
162219,Switzerland,739160,0.835681,1.112637,1.155283,1.195884,1.259176,1.304965,1.310910,1.287181,1.258300,1.244424
162220,Switzerland,739161,1.164061,1.262607,1.234419,1.216856,1.226655,1.242310,1.250874,1.256210,1.269135,1.297558
162221,Switzerland,739191,0.809050,1.058102,1.089808,1.125672,1.184532,1.225221,1.226619,1.200047,1.170311,1.157180
162222,Switzerland,739221,0.991207,1.087696,1.048550,1.025883,1.037399,1.057553,1.070170,1.078219,1.093092,1.123534

### Monthly: Risk Neutral

In [46]:
monthly_risk_neutral = pd.DataFrame()
for file in monthly_risk_neutral_file_names:
    df = pd.read_excel(f'TermStructure output/daily/{file}', sheet_name='Risk Neutral Yield')
    df["country"] = file.split("_")[0]
    df.insert(0, 'country', df.pop('country'))
    monthly_risk_neutral = pd.concat([monthly_risk_neutral, df], axis=0)
monthly_risk_neutral.loc[monthly_risk_neutral["country"]=="Newzealand", "country"] = "New Zealand"
monthly_risk_neutral.loc[monthly_risk_neutral["country"]=="UK", "country"] = "United Kingdom"
monthly_risk_neutral = monthly_risk_neutral[monthly_risk_neutral.country != "Taiwan"]

In [47]:
monthly_risk_neutral

,country,date,1years,2years,3years,4years,5years,6years,7years,8years,9years,10years
0,Poland,729761,20.056442,18.178111,16.810185,15.738641,14.849262,14.085380,13.415516,12.820219,12.286403,11.804647
1,Poland,729762,19.388619,17.415509,16.062418,15.026586,14.176985,13.452378,12.819792,12.259304,11.757742,11.305761
2,Poland,729764,18.716118,17.056758,15.833892,14.871287,14.067374,13.372821,12.760752,12.214684,11.723501,11.279141
3,Poland,729765,15.935325,14.542721,13.526441,12.729914,12.070396,11.505415,11.010907,10.571942,10.178526,9.823530
4,Poland,729767,13.334001,12.196900,11.416015,10.814956,10.317990,9.890646,9.514747,9.179460,8.877680,8.604371
...,...,...,...,...,...,...,...,...,...,...,...,...
5150,Indonesia,739131,4.995795,5.235635,5.428736,5.585972,5.712875,5.815340,5.898550,5.966689,6.023017,6.070039
5151,Indonesia,739160,5.057514,5.320228,5.516140,5.668119,5.787554,5.882517,5.958917,6.021109,6.072321,6.114961
5152,Indonesia,739161,4.999181,5.240089,5.433285,5.590227,5.716735,5.818807,5.901663,5.969495,6.025558,6.072354
5153,Indonesia,739191,5.087327,5.336772,5.526701,5.675590,5.793253,5.887105,5.962757,6.024416,6.075230,6.117561
5154,Indonesia,739221,4.814112,5.110209,5.340456,5.519401,5.659812,5.771305,5.860927,5.933842,5.993863,6.043826

### Monthly: Term Premium

In [48]:
monthly_term_premium = pd.DataFrame()
for file in monthly_term_premium_file_names:
    df = pd.read_excel(f'TermStructure output/daily/{file}', sheet_name='Term Premium')
    df["country"] = file.split("_")[0]
    df.insert(0, 'country', df.pop('country'))
    monthly_term_premium = pd.concat([monthly_term_premium, df], axis=0).reset_index(drop=True)
monthly_term_premium.loc[monthly_term_premium["country"]=="Newzealand", "country"] = "New Zealand"
monthly_term_premium.loc[monthly_term_premium["country"]=="UK", "country"] = "United Kingdom"
monthly_term_premium = monthly_term_premium[monthly_term_premium.country != "Taiwan"]

In [49]:
monthly_term_premium

,country,date,1years,2years,3years,4years,5years,6years,7years,8years,9years,10years
0,Czech Republic,730835,0.444376,1.259070,2.040396,2.695531,3.230780,3.667028,4.018042,4.293606,4.504861,4.664906
1,Czech Republic,730838,0.442606,1.257074,2.037712,2.691702,3.225866,3.661377,4.012007,4.287445,4.498761,4.659014
2,Czech Republic,730839,0.430133,1.236183,2.008351,2.653851,3.180743,3.610728,3.957423,4.230201,4.439922,4.599525
3,Czech Republic,730840,0.415956,1.203200,1.957313,2.587398,3.102056,3.522704,3.862489,4.130420,4.337095,4.495205
4,Czech Republic,730841,0.429787,1.218292,1.967836,2.593466,3.105720,3.526029,3.867046,4.137359,4.347247,4.509094
...,...,...,...,...,...,...,...,...,...,...,...,...
162218,Colombia,739131,-0.007561,0.325230,0.670151,0.971201,1.260551,1.547664,1.821090,2.075217,2.310357,2.525801
162219,Colombia,739160,-0.267457,0.142321,0.587737,0.948385,1.295215,1.648704,1.986202,2.298131,2.586624,2.850856
162220,Colombia,739161,-0.070487,0.314772,0.722590,1.070715,1.398677,1.718924,2.017154,2.287092,2.530578,2.748237
162221,Colombia,739191,-0.143193,0.228368,0.634417,0.981468,1.316193,1.652073,1.971847,2.267512,2.539949,2.788376
162222,Colombia,739221,0.009428,0.307617,0.625401,0.915357,1.201397,1.489690,1.769759,2.035656,2.286142,2.519289

### Monthly: Fitted Yield Curve

In [50]:
monthly_fitted_yield = pd.DataFrame()
for file in monthly_fitted_yield_file_names:
    df = pd.read_excel(f'TermStructure output/daily/{file}', sheet_name='ACM Fitted Yields')
    df["country"] = file.split("_")[0]
    df.insert(0, 'country', df.pop('country'))
    monthly_fitted_yield = pd.concat([monthly_fitted_yield, df], axis=0).reset_index(drop=True)
monthly_fitted_yield.loc[monthly_fitted_yield["country"]=="Newzealand", "country"] = "New Zealand"
monthly_fitted_yield.loc[monthly_fitted_yield["country"]=="UK", "country"] = "United Kingdom"
monthly_fitted_yield = monthly_fitted_yield[monthly_fitted_yield.country != "Taiwan"]

In [51]:
monthly_fitted_yield

,country,date,1years,2years,3years,4years,5years,6years,7years,8years,9years,10years
0,Mexico,731590,5.918317,6.489128,7.024389,7.508234,7.923936,8.267047,8.542127,8.758658,8.928012,9.061357
1,Mexico,731591,5.594957,6.042237,6.539248,7.027498,7.465224,7.833463,8.129102,8.358355,8.532008,8.662126
2,Mexico,731593,6.583836,6.976792,7.433757,7.873564,8.254162,8.560619,8.794040,8.963941,9.083291,9.165317
3,Mexico,731621,5.954095,6.486159,6.995471,7.462194,7.866957,8.203375,8.474566,8.688964,8.857199,8.989938
4,Mexico,731622,5.713105,6.160800,6.669712,7.175353,7.631452,8.016389,8.325798,8.565575,8.746737,8.881862
...,...,...,...,...,...,...,...,...,...,...,...,...
162218,Switzerland,739131,1.121188,1.199846,1.161315,1.142500,1.156341,1.177751,1.191800,1.201735,1.218423,1.249967
162219,Switzerland,739160,0.835681,1.112637,1.155283,1.195884,1.259176,1.304965,1.310910,1.287181,1.258300,1.244424
162220,Switzerland,739161,1.164061,1.262607,1.234419,1.216856,1.226655,1.242310,1.250874,1.256210,1.269135,1.297558
162221,Switzerland,739191,0.809050,1.058102,1.089808,1.125672,1.184532,1.225221,1.226619,1.200047,1.170311,1.157180
162222,Switzerland,739221,0.991207,1.087696,1.048550,1.025883,1.037399,1.057553,1.070170,1.078219,1.093092,1.123534

## Policy Announcements

In [52]:
countries_with_data = list(monthly_fitted_yield["country"].unique())

In [53]:
df = pd.read_excel(f'PolicyAnnouncements.xlsx', sheet_name='Central banks')
countries_with_announcements = list(df["Country name"].unique())

In [54]:
list(set(countries_with_data) - set(countries_with_data).intersection(set(countries_with_announcements)))

['Italy', 'Germany', 'France']

### Dict for Country Code: Country Name